<!-- users/templates/users/changePassword.html -->

{% extends 'base.html' %}

{% block content %}
{% comment %} <p> hi pwd done</p> {% endcomment %}
    <h2>Password change successful</h2>
    {% if request.user.is_authenticated %}    
    <div class="form-simple">
    <p class="centre-align">Your password was changed.</p>
    {% else %}
    <h2>You are not logged in</h2>
    <h4 class="centre-align">Please <a href="{% url 'login' %}" class="register-wide">login</a> or <a href="{% url 'users:createAccount' %}" class="register-wide">sign up</a> to edit content</h4>
    </div>    
    {% endif %}      
{% endblock %}