<!-- users/templates/users/changePassword.html -->

{% extends 'base.html' %}

{% block content %}

    <h2>Password change successful</h2>
    <div class="form-simple">
    {% if request.user.is_authenticated %}    

    <p class="centre-align">Your password was changed.</p>
    {% else %}
    <h2>You are not logged in</h2>
    <h4 class="centre-align">Please <a href="{% url 'login' %}" class="register-wide">login</a> or <a href="{% url 'users:createAccount' %}" class="register-wide">sign up</a> to edit content</h4>

    {% endif %}      
    </div>        
{% endblock %}