<!-- users/templates/users/changePassword.html -->

{% extends 'base.html' %}

{% block content %}

    <h2>Change Password</h2>
    {% if request.user.is_authenticated %}    
    <form method="post" class="form-simple">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit" class="register">Save</button>
    </form>
    {% else %}
    <h2>You are not logged in</h2>
    <h4 class="centre-align">Please <a href="{% url 'login' %}" class="register-wide">login</a> or <a href="{% url 'users:createAccount' %}" class="register-wide">sign up</a> to edit content</h4>

    {% endif %}    
{% endblock %}