{% extends 'base.html' %}
{% load static %}

{% comment %} {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %} {% endcomment %}


{% block content %}
<div id="fav-stories" class="form-simple">
    <br>
<h2>Favourite News</h2>
{% if request.user.is_authenticated %}        
<h4>View or remove your favourite news items you have added</h4>

    {% if fav_stories %}
        {% comment %} {% for story in fav_stories %} {% endcomment %}
        {% for story in fav_stories %}        
            <!-- <p>{{ story.title }}</p> -->
            {% include "news/storyCard.html" with story=story %}
            <a href="{% url 'users:favouriteAdd' story.id %}">Remove</a>
        {% endfor %}
    {% else %}
        <h4>No stories are available.</h4>
    {% endif %} 
{% else %}
    <h2>You are not logged in</h2>
    <h4 class="centre-align">Please <a href="{% url 'login' %}" class="register-wide">login</a> or <a href="{% url 'users:createAccount' %}" class="register-wide">sign up</a> to edit content</h4>

{% endif %}    
</div>


{% endblock %}