<!-- templates/base.html -->
{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Tracey Nguyen">
        {% comment %} <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet"> {% endcomment %}

        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">        
        {% endblock %}
    
    </head>

    <body>
        <header>
            <img src="{% static 'news/images/she_codes.png' %}" alt="she_codes">
            <!-- include nav here -->
            {% include './nav.html' %}
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>She {Codes} News</h1>
                </a>
            </div>
        </header>

        <!-- content blocks here -->
        {% block content %}{% endblock %}
    </body>
</html>
