<nav>
    <a href="{% url 'news:index' %}">Home</a>
    {% comment %} <a href="#">username</a> {% endcomment %}
    {% comment %} <a href="#">Logout</a>
    <a href="#">Login</a> {% endcomment %}
    {% if request.user.is_authenticated %}
        <a href="#">{{ user.username }}</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'news:newStory' %}">Write New Story</a>        
        {% comment %} <a href="{% url 'news:editStory' %}">Edit Story</a>   
        <a href="{% url 'news:deleteStory' %}">Delete Story</a>                    {% endcomment %}
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</nav>
