@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    /* --hover-blue: #1691db; */
    --hover-blue: #8556a9;
	--black: #111111;  
    --white: #ffffff;  
}


html {
	box-sizing: border-box;
	font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', Arial, sans-serif;  
	scroll-behavior: smooth;
    color: var(--black);
}

body {
    /* background-color: rgb(240, 239, 239); */
    font-family: 'Roboto', Arial, sans-serif;  
}

header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--black); */

    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left mid right";
    align-items: center; */
}

/* img {
    filter: grayscale(100%);
} */

h1 {
    font-family: 'Inter', Arial, sans-serif;  
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    text-align: center;
}

h2 {
   font-family: 'Inter', Arial, sans-serif;  
   text-align: center;
}

h3 {
    font-size: 2rem;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;  
}

#header-text {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, sans-serif;  
}


/* nav {
    font-family: 'Inter', Arial, sans-serif;      
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: solid;
} */

.desktop-nav {
    display:flex;     
    /* border-style: solid;     */
    width: 100%;
}

.desktop-nav a:hover {
    list-style: none;
    /* color:  var(--hover-blue); */
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    content: "\f002";
    /* border-style: solid; */
}

svg {
    width: 20px;
    height: 20px;
}

.nav-top-icons {
    list-style: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    font-size: 14px;
    /* border-style: solid;       */

}

.login {
    border-radius: 4px;
}

.register {
    margin-right: 8px;
    /* background-color: #1691db; */
    color: var(--white);
    border: 1px solid var(--hover-blue);
    background-color:rgb(130, 70, 175,0.8); 
    border-radius: 4px;
    width: 80px;
    text-align: center;
}

.register:hover {
    background-color:rgb(130, 70, 175,0.6); 
    color: var(--white);
    /* height: 100%;
    width: 100%; */
}

.register-wide {
    margin-right: 8px;
    /* background-color: #1691db; */
    color: var(--white);
    border: 1px solid var(--hover-blue);
    background-color:rgb(130, 70, 175,0.8); 
    border-radius: 4px;
    padding: 2px 16px 2px 16px;
    text-align: center;
}

.register-wide:hover {
    background-color:rgb(130, 70, 175,0.6); 
    color: var(--white);
    /* height: 100%;
    width: 100%; */
}

.centre {
    text-align: center;
}

a {
    margin: 2px;
    text-decoration: none;
    color:  var(--black);
}

a:hover {
    color:  var(--hover-blue);
}

a, p {
    font-family: 'Roboto', Arial, sans-serif;  
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    width: 100%;
    margin: auto;
    border-top: 1px solid var(--black);
    /* border-bottom: 1px solid var(--black); */
    /* border-style: solid; */
}

ul {
    list-style: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.header-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#headline {
    height: 20vh;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ), url('/static/news/images/header_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:60%; 
    background-color: #111111;
    /* opacity: 60%; */
    width: 100%;
}

#headline h1 {
    color: var(--white)
}

#news-categories {
    width: 100%;
    /* border: solid; */
    /* position: top; */
}

.category-list {
    width:auto;
    background-color:rgb(130, 70, 175, 0.8);     
    /* justify-content: center; */
    /* margin: auto; */
    border-radius: 4px;
    justify-content: space-around;
    /* text-align: left; */
    height:30px;
    align-items: center;    
}

.category-link { 
    margin-right: 8px;
    color: var(--white);
    border-radius: 4px;
    height: 100%;
    width: 100%;
    padding: 4px;
    text-align: center;
}

.category-link:hover {
    /* background-color:rgb(130, 70, 175, 0.6);      */
    background-color: #B490CF;
    color: var(--white);
}

.contact-link {
    justify-content: space-around;
    align-items: center;
    width: 40%;
    padding-right: 3rem;
    padding-left: 3rem;
}


/* .category-list {
    height: 20px;
    margin: 0px;
} */

.form-simple {
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: auto;
    /* text-align: center; */
    width: 60%;
    /* border: solid; */
}

.form-simple ul {
    display: block;
}

.form-simple-centre {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 60%;
    /* border: solid; */
}


.grid-form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.grid-item {
    padding-left: 64px;
}

.centre-align {
    text-align: center;
}

.label-values a {
    /* justify-content: right; */
    text-align: right;
    /* align-items: center; */
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-style: solid;
}

#welcome {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
}

#story-add {
    background-color: var(--hover-blue);
    border-radius: 4px;
    align-items: center;
}

#name {
    width: 60%;
    white-space: nowrap;
    /* border-style: solid; */
    text-align: center;
}

.button-simple {
    margin-right: 8px;
    background-color: var(--hover-blue);
    color: var(--white);
    border: 1px solid var(--hover-blue);
    border-radius: 4px;
    width: 125px;
    height: 40px;
    text-align: center;
    align-items: center;
    transition: all 1s ease;
}

#story-add a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--black);
}


/* this is from news/styles.css as issues with 2 stylesheets being called */


/* Base HTML Styles */
/* 
.story-card {
    margin: 2px;
    padding: 5px;
    
}

.story-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
}

#latest-stories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
    max-height: 500px;     
    border-style: solid;
}

#story-card-1 {
    grid-area: left-1;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
}

#story-card-2 a,
#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 100px;

}

#story-card-2 .story-card-text .story-card-icons a,
#story-card-3 .story-card-text .story-card-icons,
#story-card-4 .story-card-text .story-card-icons {

}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 12px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    width: 33%;
    height: 80%;
    margin-right: 5px;
}

.story-card-icons {

}

.story-card p {
    font-size: 12px;
}

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

#all-stories .story-card {
    flex-basis: 32%;
    flex-grow: 1;
}

#story-content {
    text-align: justify;
}

#story-content img {
    float: right;
    margin: 0 0 10px 10px;
    width: 50%;
}


#all-content {
    display: block;
    border: 1px solid #000;
    width: 70%;
    margin: auto;
}



#story-wrapper {
    width: 80%;
    margin: auto;
}

 */
