{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}  


{% block content %}
<div class="form-simple">

{% if request.user.is_authenticated %}
<br>
<h2>New Story</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="register" value="Submit">
    </form>
{% else %}
<h2>You are not logged in</h2>
<h4>Please <a href="{% url 'login' %}" class="register" >login</a> or <a href="{% url 'users:createAccount' %}" class="register" >sign up</a> to create content</h4>

{% endif %}
</div>
{% endblock %}

