{% extends "base.html" %}
{% comment %} {% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %} {% endcomment %}


{% block content %}
{% if request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
{% else %}
<h2>You are not logged in</h2>
<h4>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'users:createAccount' %}">sign up</a> to create content</h4>
{% endif %}

{% endblock %}

