{% extends "base.html" %}

{% block content %}

<h2>Edit Story</h2>
<div class="form-simple">
{% if request.user.is_authenticated %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="register" value="Save">
    </form>
    {% else %}
    <h2>You are not logged in</h2>
    <h4>Please <a href="{% url 'login' %}" class="register">login</a> or <a href="{% url 'users:createAccount' %}" class="register">sign up</a> to edit content</h4>

    {% endif %}
</div>

{% endblock %}

