{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% comment %} <br>
<h2>Favourite News</h2>

{% block content %}
<div id="fav-stories">
    {% if fav_stories %}
        {% for story in fav_stories %}
            <!-- <p>{{ story.title }}</p> -->
            {% include "./storyCard.html" with story=story %}
            <p>Test output variable latest_stories{{ story }}</p>
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div>


{% endblock %} {% endcomment %}