    {% extends "base.html" %}
    {% load static %}
    
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %}
    <br>
    <div id="news-categories">
    {% comment %} <a href="{% url 'news:category' category='Science' %}">World</a> | <a href="science.html">Science</a>        {% endcomment %}
    {% comment %} <a href="{% url 'news:searchresults' q='Science' %}">World</a>  {% endcomment %}
    | <a href="science.html">Science</a> 
    {% comment %} {{ category_choices.get_user_choices_display() }}
    {% for category in category_choices %}
        <p>{{ category}} </p>
    {% endfor %} {% endcomment %}
    </div>
    <h2>Latest News</h2>
    <div id="all-content">
        <div id="latest-stories">
            {% if latest_stories %}
                <!-- <p>Test output variable latest_stories{{ latest_stories }}</p> -->
                {% for story in latest_stories %}
                    <!-- <p>{{ story.title }}</p> 
                    <p>{{ story.pub_date }}</p> -->
                    {% include "./storyCard.html" with story=story position=forloop.counter %}
                {% endfor %}
            {% else %}
                <p>No stories are available.</p>
            {% endif %}
        </div>

        <div id="all-stories">
            {% if all_stories %}
                {% for story in all_stories %}
                    <!-- <p>{{ story.title }}</p> -->
                    {% include "./storyCard.html" with story=story %}
                {% endfor %}
            {% else %}
                <p>No stories are available.</p>
            {% endif %}
        </div>

        <p>Test output variable latest_stories{{ story_categories }}</p>
    </div>
{% endblock %}
