    {% extends "base.html" %}
    {% load static %}
    
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %}
    <br>
    <div id="news-categories">
    <a href="{% url 'news:newStory' %}">World</a> | <a href="{% url 'news:newStory' %}">Science</a>       
    </div>
    <h2>Science News</h2>

    <div id="all-stories">
        {% if story_categories %}
            {% for story in story_categories %}
                <p>{{ story.title }}</p> 
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <p>Test output variable latest_stories{{ story_categories }}</p>
{% endblock %}
