{% extends "base.html" %}
{% load static %}

{% comment %} {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %} {% endcomment %}

{% block content %}
<br>
<h2>Search Results</h2>

<div id="all-stories">
    {% if search_stories %}
        {% for story in search_stories %}
            <!-- <p>{{ story.title }}</p> -->
            {% include "./storyCard.html" with story=story %}
        {% endfor %}
    {% else %}
    <div class="form-simple">
        <p>No search results are available.</p>
    </div>
    {% endif %}
</div>

{% endblock %}
