{% extends "base.html" %}
{% load static %}

{% comment %} {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %} {% endcomment %}

{% block content %} 
<br>
<h2>Search News</h2>
<h3>Search Articles by author or category</h3>

<form action="{% url 'news:searchresults' %}" method="get">
    <input name="q" type="text" placeholder="Search Author or Category...">
    {% comment %} <input name="category" type="text" placeholder="Search Author or Category...">
    <input name="author" type="text" placeholder="Search Author or Category...">
    <input name="category" type="text" placeholder="Search Author or Category..."> {% endcomment %}
</form>

{% endblock %}