<!-- news/templates/news/story.html -->
{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    {% comment %} <h4>{{ story.author }}</h4> {% endcomment %}
    {% comment %} <h4>By {{ story.author.first_name }} {{ story.author.last_name }}</h4> {% endcomment %}
    <h4>By {{ story.author.get_full_name }}</h4>
    {% if request.user.is_authenticated %}    
        <a href="{% url 'users:favAdd' story.id %}">Add to favourites</a>
    {% endif %}
    {% if request.user == story.author %}
    <a href="{% url 'news:editStory' story.id %}">Edit</a>
    <a href="{% url 'news:deleteStory' story.id %}">Delete</a>
    {% endif %}          
    <h5>Posted: {{ story.pub_date }} </h5>
    <h5>Updated:{{ story.change_date }}</h5>            
    <div id="story-content">
        {% comment %} <img src="{% static '/news/images/placeholder-5.jpg' %}"> {% endcomment %}
        <img src="{% static '/news/images/' %}{{ story.image_url }}">
        {{ story.content|linebreaks }}
    </div>
</div>

{% endblock %}